
<!-- <div class="camera">
    <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)" (started)="(onStarted)">
    </barcode-scanner-livestream>
</div>

<div [hidden]="!barcodeValue">
    {{ barcodeValue }}
</div> -->





<!-- <div class="camera">
    <div id="interactive" class="viewport" [hidden]="barcodeValue">
    </div>

    <div [hidden]="!barcodeValue">
        {{ barcodeValue | json }}
    </div>
</div>
<button (click)="clearBarcodeValue()">CLEAR</button> -->





<div class="camera">
    <zxing-scanner (scanSuccess)="onScanSuccess($event)" (camerasFound)="onCameraFound($event)" 
                (scanError)="onScanError($event)" 
                [formats]="allowedFormats"></zxing-scanner>


    <div [hidden]="!barcodeValue">
        {{ barcodeValue | json }}
    </div>

    <button (click)="clearBarcodeValue()">CLEAR</button>
</div>


<!-- (scanComplete)="onScanComplete($event)" -->