
<!-- <div class="messages">{{message}}</div>

<div class="camera">
    <barcode-scanner-livestream type="code_128" (valueChanges)="onValueChanges($event)" (started)="(onStarted)">
    </barcode-scanner-livestream>
</div>

<div [hidden]="!barcodeValue">
    {{ barcodeValue }}
</div> -->




<!-- <div class="messages">{{message}}</div> -->
<button mat-raised-button class="button--clear" *ngIf="barcodeValue" (click)="clearBarcodeValue()">CLEAR</button>
<div class="camera">
    <div id="interactive" class="viewport" [hidden]="barcodeValue">
    </div>

    <!-- <div [hidden]="!barcodeValue">
        {{ barcodeValue | json }}
    </div> -->

</div>

<div *ngIf="barcodeValue?.total > 0" class="upc-data" [class.good-company]="isGoodCompany" [class.bad-company]="isBadCompany">

    <div *ngIf="isBadCompany" class="bad-product-message">
        Boycott this product
    </div>

    <mat-form-field>
        <mat-label>Brand</mat-label>
        <input matInput [value]="barcodeValue.items[0].brand" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [value]="barcodeValue.items[0].title" readonly>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [value]="barcodeValue.items[0].description" readonly></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>UPC</mat-label>
        <input matInput [value]="barcodeValue.items[0].upc" readonly>
    </mat-form-field>

    <div *ngIf="barcodeValue?.items[0]?.images[0]">
        <img [src]="barcodeValue.items[0].images[0]" alt="">
    </div>

</div>


<!-- <button mat-raised-button (click)="loadFakeValu()">LOAD FAKE</button> -->





<!-- <div class="camera">

    <div class="messages">{{message}}</div>

    <zxing-scanner (scanSuccess)="onScanSuccess($event)" (camerasFound)="onCameraFound($event)" *ngIf="!barcodeValue"
                (scanError)="onScanError($event)" 
                [formats]="allowedFormats"></zxing-scanner>


    <button mat-raised-button (click)="clearBarcodeValue()">CLEAR</button>
    <button mat-raised-button (click)="loadFakeValu()">LOAD FAKE</button>

    <div *ngIf="barcodeValue?.total > 0" class="upc-data">

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [value]="barcodeValue.items[0].title" readonly>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Brand</mat-label>
            <input matInput [value]="barcodeValue.items[0].brand" readonly>
        </mat-form-field>

    </div>

    <div *ngIf="barcodeValue?.items[0]?.images[0]">
        <img [src]="barcodeValue.items[0].images[0]" alt="">
    </div>

</div> -->



<!-- (scanComplete)="onScanComplete($event)" -->