
barcode-scanner-livestream {
    width: 300px;
}

// .camera {
//     width: 100%;
//     // height: 300px;
//     // height: calc(100vh - 200px);
//     @apply mx-2;
// }

#interactive.viewport {
    &::ng-deep video {
        width: 100%;
    }
     ::ng-deep canvas {
        position: absolute;
        z-index: 1000;
        right: 0;
        width: 100%;
    }
}

.messages {
    @apply h-11 border-2
}

button {
    @apply mr-4
}

.mat-form-field {
    @apply text-xl
}

.upc-data {
    @apply mt-6 mx-2 flex flex-col gap-x-4 
}

.button--clear {
    @apply mt-4 mb-2 ml-2;
}

.good-company {
    @apply text-green-600
}
.bad-company {
    @apply text-red-600
}

div.bad-product-message {
    @apply w-auto h-8 bg-red-700 text-white text-xl mb-4 px-6 py-2
}